.LocationWidget{
    opacity: 1;
}
.TabsContainer{
    height: 10%;
}

.Tab{
    background-color: cadetblue;
    line-height: 65px;
    transition: 0.4s;
}
.Tab:hover{
    background-color: rgba(144, 238, 144, 0.733);
    cursor: pointer;
}

/* Create an active/current tablink class */
.TabActive {
    background-color: transparent;
}
/* Style the tab content */
.TabContent {
    border-top: none;
    height: 100% !important;
    opacity: 1;
}