.node rect {
  cursor: move;
  fill-opacity: 1;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  fill: white;
}

.link {
  stroke: #fff;
  stroke-opacity: 0.2;
  fill: none;
}

.link:hover {
  stroke-opacity: .5;
}