#FilterContainer {
    padding-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn{
    width: 100%;
    height: 50px;
    font-size: 20px !important;
}


.div_highlightFilter{
    box-shadow: 0px 0px 5px 5px orange;
    background-color: orange;
    border-radius: 2px;
}

#div_txt_totalPopulation{
    font-size: xx-large;
}
#txt_people{
    font-size: x-large;
    color:darkgray
}