.Dashboard{
    width:100%;
    padding-left: -5px;
}
.WidgetsGroup{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.WidgetsGroup_1{ /*outter padding*/
    padding-top: 10px !important;
}
.WidgetsGroup_2 {
}

.RightContent {
    margin:0px !important;
}


.Loading{
    background-image: url("../../../Images/loading2.gif");
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 50%;
    height: 105px;
    width: 50%;
    margin: 0 -25%;
}

.Axis{
    font-size: 15px
}
.Chart{
    color:white;
}