
.WidgetDouble .WidgetSimple{
    height: 690px; /* Customizable - Ifyou change this, 
    you must change the WidgetSimple too */
}

.WidgetDouble{
    margin-left:0px;
    margin-right:0px;
}
.WidgetDouble .ChartContainer{
    height: 630px; /* Customizable - Ifyou change this, 
    you must change the WidgetSimple too */
}