.LeftPanel{
    background-color: black;
    
    /*width: 16%;*/
    height: 100% !important;
}
.AppTitle{
    padding-top:5px;
    float: left;
    width: 100%;
    position: absolute;
    font-size: 22px;
}
#OpenCloseFilterButton{
    cursor: pointer;
    position: absolute;
    padding-top: 10px;
    padding-left: 25px;
    width: 40px;
    height: 40px;
    z-index: 1;
    transition: right 1s, top 1s, background-color 1s, border-radius 1s;
}
#img_filter{
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
}
.OpenCloseFilterButton_Filter_opened{
    padding-top: 10px;
    right: 0px;
    background-color: black;
}
.OpenCloseFilterButton_Filter_closed{
    right: -40px;
    background-color: gray;
    border-radius: 10px;
}
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: 0.4s;
    margin-left:-15px;
}

#AppLeftContainer{
    float:left;
    height: 100vh;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
    width: 300px; /* if yu modify these pixels, you have to modify RightContainer to */
}  
#AppRightContainer{
    float:left; 
    z-index: 0;
}  
.AppLeftContainer_Filter_opened{
    margin-left: 0px;
    transition: margin-left 1s;
}
.AppLeftContainer_Filter_closed{
    margin-left: -300px;
    transition: margin-left 1s;
}
.AppRightContainer_Filter_opened{
    width: calc(100% - 300px); /*minus pixels of LeftContainer*/
    margin-left:300px;  /*custom this value*/
    transition: width 1s, margin-left 1s;
}
.AppRightContainer_Filter_closed{
    width: 100%; /*minus pixels of LeftContainer*/
    transition: width 1s, margin-left 1s;
}
  
@media (max-width: 600px) { /* --- Mobile Phone ---*/
    #AppLeftContainer{
        width: 90vw;
        transition: margin-left 1s;
    }
    #AppRightContainer{
        margin-top:30px;
        float:left; 
        width: 100%;
        margin-left:0px;
        transition: margin-left 2s;
    }
    #TitleContainer{       
        position: fixed;
        width:100vw;
        height:40px;
        background-color: black;
        overflow: hidden;
        z-index: 1;
        transition: margin-left 1s;
    }

    .TitleContainer_Filter_open{
        margin-left: 0px; /*custom this value*/
    }
    .TitleContainer_Filter_closed{
        margin-left: 500px; /*custom this value*/
    }
    #OpenCloseFilterButton{
        margin-left: 0px;
        left:0px;
    }
    .OpenCloseFilterButton_Filter_opened{
        padding-left: 25px;
        padding-top: 10px;
        right: 0px;
        background-color: black;
        transition: right 1s, background-color 1s;
    }
    .OpenCloseFilterButton_Filter_closed{
        top:0px;
        padding-left: 25px;
        padding-top: 10px;
        right: -40px;
        background-color: black;
        transition: right 1s, background-color 1s;
    }
    .AppLeftContainer_Filter_opened{
        margin-left: 0px;
        transition: margin-left 1s;
    }
    .AppLeftContainer_Filter_closed{
        margin-left: -500px;
        transition: margin-left 1s;
    }
    .bar1, .bar2, .bar3 {
        margin-left:-10px;
    }
}