
.WidgetSimple{
    height: 330px; /* Customizable - Ifyou change this, 
                        you must change the WidgetDoubleV too */
    background-color: black;
    opacity: 0.9;
    margin:15px;
    /*overflow: hidden;*/
    position: relative;
    overflow: hidden;
}
.WidgetTitleContainer{
    font-size: 1.25rem;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
}
.WidgetTitle{
    text-align: left;
}
.Subtitle{
    text-align: right;
    font-style: italic;
    font-size: 1rem;
    vertical-align: bottom;
    padding-top: 2px;
}
.ChartContainer{
    padding: 10px;
    height: 82%; /*change this if the Height/Margins of the Widget changes*/
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
}
.SVG{
    width: 100%;
    height: 100%;
    overflow: hidden;
}