
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white; 
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}