.container-fluid {
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  color:white;
}
.AppContainer{
  width:100%;
}

/*   Background Image   */
.BackgroundImage{
  position: fixed;
  left:0; 
  top:0;
  min-height: 768px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../../Images/paisaje.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.BackgroundImage_layer2{ /* Dots layer */
  position: fixed;
  left:0; 
  top:0;

  width: 100%;
  height: 100vh;
  opacity: 0.2;
  background-image: url('../../Images/dot.png');
  z-index: 0;
}

.BackgroundImage_layer3{ /* Black layer */
  position: fixed;
  left:0; 
  top:0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  z-index: 0;
}
.WidgetSimple{
  height: 330px; /* Customizable - Ifyou change this, 
                      you must change the WidgetDoubleV too */
  background-color: black !important;
  opacity: 0.92 !important;
  margin: 30px !important;
  /*overflow: hidden;*/
  position: relative;
  border-radius: 10px !important;
  overflow: hidden;

  /*box-shadow: 0px 10px 10px 5px gray;*/
}


.WidgetDouble .WidgetSimple{
  height: 710px !important; /* Customizable - Ifyou change this, 
  you must change the WidgetSimple too */
}

.WidgetDouble{
  margin-left:0px;
  margin-right:0px;
}
.WidgetDouble .ChartContainer{
  height: 630px !important; /* Customizable - Ifyou change this, 
  you must change the WidgetSimple too */
}