.container-fluid {
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  color:white;
}
.AppContainer{
  width:100%;
}


/*   Background Image   */

.BackgroundImage{
    position: fixed;
    left:0; 
    top:0;
    min-height: 768px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../../Images/paisaje.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.BackgroundImage_layer2{ /* Dots layer */
  position: fixed;
  left:0; 
  top:0;

  width: 100%;
  height: 100vh;
  opacity: 0.2;
  background-image: url('../../Images/dot.png');
  z-index: 0;
}

.BackgroundImage_layer3{ /* Black layer */
  position: fixed;
  left:0; 
  top:0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  z-index: 0;
}

/*
.BackgroundImage{
  position: fixed;
  background-color: lightgray;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 0;
}
*/